header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 4px 10px 0px hsla(30, 50%, 65%, 0.3);
}

header .container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

header .container .logo {
  color: var(--color-primary);
}


.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user .name {
  color: var(--color-primary);
}

.user-popup {
  position: absolute;
  top: 100%; 
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 10;
}

.user-popup button {
  width: 100px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  header .user .name {
    display: none;
  }
}