header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 4px 10px 0px hsla(30, 50%, 65%, 0.3);
}

header .container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

header .container .logo {
  color: var(--color-primary);
}


.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user .name {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  header .user .name {
    display: none;
  }
}