.sukien-container {
  padding: 32px 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.group .title {
  color: var(--color-dark-2);
}

.group .list-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  position: relative;
}

.group .list-event::before {
  content: "";
  position: absolute;
  top: 0px; 
  left: 10px; 
  width: 0.5px;
  height: 100%;
  background-color: var(--color-dark-3);
  z-index: 0; 
}

.group .event {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color-dark-3);
  background-color: var(--color-light-1);
  z-index: 1; /* Đảm bảo circle nằm trên đường thẳng */;
}

.event .horizontal-line {
  width: 100px;
  height: 1px;
  background-color: var(--color-dark-3);
}
