/* tool-start */
.adminEventList-container .tool {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.adminEventList-container .tool .tool-left .label-select {
  margin-right: 8px;
  color: var(--color-dark-2);
}

.adminEventList-container .tool .tool-left .select-options {
  padding: 8px 8px;
  border-radius: 8px;
  border: 1px solid var(--color-light-3);
  background-color: var(--color-light-1);
  color: var(--color-dark-3);
  font-size: 14px;
}

.adminEventList-container .tool .tool-right {
  display: flex;
  gap: 16px;
}
/* tool-end */

/* table start */
.adminEventList-container .btn-delete {
  color: var(--color-blue);
  cursor: pointer;
}

.adminEventList-container .btn-edit {
  color: var(--color-orange);
  cursor: pointer;
}
/* table end */

/* popup start */
.adminEventList-container .popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  z-index: 10; 
}

.adminEventList-container .popup {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 24px;
  margin-top: 40px;
  background: var(--color-light-1);
  border: 1px solid var(--color-light-3);
  border-radius: 8px;
  color: var(--color-dark-2);
  z-index: 2;
}
.adminEventList-container .popup-header .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
.adminEventList-container .popup-header .close-btn:hover {
  cursor: pointer;
}
.adminEventList-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.adminEventList-container .form-group input {
  padding: 12px 16px;
  border: 1px solid var(--color-light-3);
  border-radius: 8px;
  color: var(--color-dark-2);
}

.adminEventList-container .form-group input:focus {
  border: 1px solid var(--color-dark-2);
  outline: none;
}

.adminEventList-container .popup button {
  width: 100%;
  padding: 8px 12px;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-light-1);
  border-radius: 8px;
}

.adminEventList-container .popup button:hover {
  background-color: var(--color-primary-dark);
}
/*----- bọc select + icon  start*/
.adminEventList-container .select-wrapper {
  position: relative;
  width: 100%;
}

.adminEventList-container .select-wrapper select {
  width: 100%;
  padding: 12px 40px 12px 16px; 
  border: 1px solid var(--color-light-3);
  border-radius: 8px;
  background-color: var(--color-light-1);
  color: var(--color-dark-2);
  font-size: 14px;

  appearance: none; /* bỏ mũi tên mặc định */
}

.adminEventList-container .select-wrapper select:focus {
  border: 1px solid var(--color-dark-2);
  outline: none;
}

.adminEventList-container .select-wrapper .material-symbols-outlined {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--color-dark-2);
  pointer-events: none; /* click vẫn tác động vào select */
}
/*------bọc select + icon  end*/

/* popup end */
