.button {
  background-color: var(--color-primary);
  padding: 6px 12px;
  border-radius: 100px;
  border: none;
}

.button-text,
.button-icon {
  color: var(--color-light-1) !important;
}

.button:hover {
  cursor: pointer;
}
