.album-grid-wrapper {
  height: 400px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* tool-start */
.adminThuvien-container .tool {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.adminThuvien-container .tool .tool-left .label-select {
  margin-right: 8px;
  color: var(--color-dark-2);
}

.adminThuvien-container .tool .tool-left .select-options {
  padding: 8px 8px;
  border-radius: 8px;
  border: 1px solid var(--color-light-3);
  background-color: var(--color-light-1);
  color: var(--color-dark-3);
  font-size: 14px;
}

.adminThuvien-container .tool .tool-right {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
/* tool-end */



/* popup start */
.adminThuvien-container .popup-overlay {
  position: fixed;
  inset: 0;
  padding: 20px 0;
  height: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  overflow-y: auto;
}

.adminThuvien-container .popup {
  position: relative;
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background: var(--color-light-1);
  border: 1px solid var(--color-light-3);
  border-radius: 8px;
  color: var(--color-dark-2);
  z-index: 2;
}

.adminThuvien-container .popup-header .close-btn {
  position: absolute;
  top: 28px;
  right: 16px;
  cursor: pointer;
}

.adminThuvien-container .popup form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.adminThuvien-container .form-group input {
  padding: 12px 16px;
  border: 1px solid var(--color-light-3);
  border-radius: 8px;
  color: var(--color-dark-2);
}

.adminThuvien-container .form-group input:focus {
  border: 1px solid var(--color-dark-2);
  outline: none;
}

.adminThuvien-container .popup button {
  width: 100%;
  padding: 8px 12px;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-light-1);
  border-radius: 8px;
}

.adminThuvien-container .popup button:hover {
  background-color: var(--color-primary-dark);
}
/* popup end */

