.search-component {
  width: 240px;
  background-color: var(--color-light-1);
  padding: 8px 16px;
  border-radius: 9999px;

}

.search-input {
  width: 184px;
  border: 0;
  color: var(--color-dark-3);
}

.search-input:focus {
  outline: none;
}

.material-symbols-outlined {
  font-size: 16px;
  color: var(--color-dark-3);
  vertical-align: middle;
}
