.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 4px 10px 0px hsla(30, 50%, 65%, 0.3);
}

.header .container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  padding: 0 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  color: var(--color-primary);
}

.header nav ul {
  display: flex;
  list-style: none;
  gap: 80px;
  color: var(--color-primary);
}

.header nav ul li {
  cursor: pointer;
}

.header nav ul li a:hover {
  color: var(--color-primary-dark);
}
