.card {
  border: 1px solid var(--color-dark-3);
  border-radius: 8px;
  padding: 8px 8px;
  width: fit-content;
  background-color: var(--color-light-1);
  box-shadow: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primary);
}

.event-name .material-symbols-outlined {
  color: var(--color-primary);
  font-size: 24px;
}

.event-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}



.event-time, .event-address, .event-note, .event-time .material-symbols-outlined{
  color: var(--color-dark-2);
}