.album-container {
  padding: 32px 96px;
}

.detail-album-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.detail-album-item {
  grid-column: span 3;
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 8px;
}


.detail-album-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
